# Ignore node_modules directory
node_modules

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore logs
*.log

# Ignore environment variable files
.env

# Ignore Yarn lock file
yarn.lock

# Ignore any other files you don't want to include in the Docker image
.git
.gitignore
README.md